.primary {
    color: #848199;
}

.p-margin {
    margin-top: 100px;
}

ul {
    list-style: none;
}

.background-btn {
    border: none;
    background-color: #f6e3ef;
}

.icon-margin {
    margin-right: 5px;
    background-color: #eddfe8;
    border-radius: 50px;
    border: none;
    padding: 5px;

}

.rounder {
    border-radius: 25px;
}